/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap'); */

.wrapper {
  width: 650px;
  height: 350px;
  background: linear-gradient(black, #414345);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-shadow: 6px 13px 8px #444C54;
  border: 1px solid black;
  border-radius: 12px;
  padding: 15px 20px 10px;
  font-family: inherit;
}

.wrapper input
{
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10px;
}



.containerL
{
  float: left;
  width:40%;
  margin-left: 15px;
}

.containerR
{
  float: right;
  width:48%;
}

.link {
    transition: color 0.2s ease;
}

.link:hover {
    color: white;
}

form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 1em;
}

form p
{
    margin: 5;
    padding: 5;
    color: white;
}

form input {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 25px;
  color: #fff;
  font-size: 12px;
}

input::placeholder {
    color: rgb(150,150,150);
}

.plus {
    height: .7em;
    width: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus .hor {
    position: absolute;
    height: inherit;
    width: 3px;
    transition: background-color 0.2s ease;
    background-color: rgb(150,150,150);
}

.plus .ver {
    position: absolute;
    height: 3px;
    width: inherit;
    transition: background-color 0.2s ease;
    background-color: rgb(150,150,150);
}

.lessSpace {
    width: 53%;
}

.wrapper p
{
  margin-left: 10px;
}

.newButton
{
    border: none;
    margin-left: 60px;
    outline: none;
    background: white;
    color: black;
    box-shadow:2px 3px 11px #CED5D9;
    border-radius: 6px;
    font-size: 16px;
    font-family: inherit;
    width: 30%;
    height: 18px;
}

.containerR .newButton
{
  margin-left: 145px;
  width: 20%;
}

.vertical1
{
    color: #FFBF00;
    background: #FFBF00;
    width: 1.5px;
    height: 92%;
    padding: 0px;
    margin-left:235px;
}

.newButton:hover
{
    background: #CED5D9;
}
