/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap'); */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 1.5em 0;
    height: 100%;
    width: 90%;
    max-width: 310px;
}

.wrapper header {
    width: 13em;
    height: 13em;
}

.wrapper header img {
    max-width: 100%;
}

.tinyLock, .hoveredTinyLock {
    display: flex;
    width: .9em;
    height: .9em;
    max-width: 100%;
    transition: transform .2s ease;
    transform: rotate(0deg);
}

.wrapper label {
    color: rgb(242, 194, 2);
    line-height: 2;
}


.right {
    text-align: right;
}

.link {
    transition: color 0.2s ease;
}

.link:hover {
    color: white;
}

form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 1em;
}

form input {
    padding: .6em 0 .6em 1em;
    margin-top: 1em;
    border: none;
    outline: none;
    background: white;
    color: black;
    border-radius: 10px;
}

input::placeholder {
    color: rgb(150,150,150);
}

footer {
    align-self: flex-end;
    margin-top: 2em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

.fakeButton {
    width: 65%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.fakeButton div {
    color: white;
}

.fakeButton span {
    font-weight: 900;
}

.plus {
    height: .7em;
    width: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus .hor {
    position: absolute;
    height: inherit;
    width: 3px;
    transition: background-color 0.2s ease;
    background-color: rgb(150,150,150);
}

.plus .ver {
    position: absolute;
    height: 3px;
    width: inherit;
    transition: background-color 0.2s ease;
    background-color: rgb(150,150,150);
}

.lessSpace {
    width: 53%;
}

.hoveredTinyLock {
    display: none;
} 

.fakeButton:hover .tinyLock {
    display: none;
    transition: transform .2s ease;
    transform: rotate(15deg);
}

.fakeButton:hover .hoveredTinyLock {
    display: flex;
    transition: transform .2s ease;
    transform: rotate(15deg);
}

.fakeButton:hover .plus>div {
    transition: background-color 0.2s ease;
    background-color: white;
}


@media screen and (max-width: 640px) {
    form {
        margin: 0;
    }

    footer {
        margin: 0;
    }

    .fakeButton {
        padding: 13px 15px;
        background-color: rgba(242, 194, 2, 1);
        border-radius: 2em;
        justify-content: space-around;
        width: 100%;
    }

    .fakeButton span {
        color: white;
    }
}