* {
    margin: 0;
    padding: 0;
}

.contactWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.inner {
    margin-right: 1em;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.contactHeader {
    height: 1em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.viewHeader {
    justify-content: space-between;
    align-items: flex-start;
}

.inner .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.contactHeader img {
    width: 2em;
    height: 2em;
    max-width: 100%;
}

.viewHeader .linkToEdit {
    line-height: 14px;
}

.search {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.searchButton {
    position: absolute;
    height: 38px;
    width: 2.5em;
    border-radius: 0 10px 10px 0;
    background-color: rgb(242, 194, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton:hover {
    background-color: rgb(240, 213, 107);
}

.searchLogo {
    height: 60%;
    /* display: flex; */
    /* margin: auto; */
    /* align-self: center;
    justify-self: center; */
}

.plus {
    height: .7em;
    width: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus .hor {
    position: absolute;
    height: inherit;
    width: 3px;
    transition: background-color 0.2s ease;
    background-color: rgb(150,150,150);
}

.plus .ver {
    position: absolute;
    height: 3px;
    width: inherit;
    transition: background-color 0.2s ease;
    background-color: rgb(150,150,150);
}

.plus:hover div {
    background-color: white;
}

.inner h1 {
    margin-left: .4em;
    font-size: 1.5em;
    font-weight: 400;
}

.inner .container form {
    display: flex;
    flex-flow: column nowrap;
    max-height: 16.5em;
    overflow: scroll;
}

.nameLogoWrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.nameLogo {
    border-radius: 5em;
    width: 5em;
    height: 5em;
    background-color: black;
    border: 2px solid rgb(242, 194, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}

.wrapName {
    max-width: 15em;
    text-align: center;
}

.right {
    align-self: flex-end;
    font-size: .9em;
}

.nameLogo h2 {
    font-size: 2.5em;
}

.contacts form input {
    margin: 0;
}

.container form input {
    margin-bottom: .5em;
}

.add {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: .3em 0;
}

.add .plus {
    margin-right: 5px;
}

.add:hover .plus div {
    background-color: white;
}

.notes {
    display: flex;
    flex-flow: column nowrap;
}

.notes textarea {
    color: black;
}

.contactName {
    /* border-bottom: 1px solid rgb(242, 194, 2); */
    border-bottom: 1px solid white;
    padding: .25em 0;
}
