body
{
    margin: 0;
    padding: 0;

    background: url(backk.jpg);
    background-size: cover;
    background-position: center;

    font-family: inherit;

}


.welcomebox
{
    width: 555px;
    height: 320px;
    background: linear-gradient(black, #414345);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-shadow: 6px 13px 8px #444C54;
    border: 1px solid black;
    border-radius: 12px;
    padding: 15px 20px 10px;
}

.welcomebox input
{
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.welcomebox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 25px;
    color: #fff;
    font-size: 12px;

}


.welcomebox input[type="submit"]:hover
{
    animation-fill-mode: forwards;
    background: #CED5D9;
}

.welcomebox p
{
    margin: 5;
    padding: 5;
}

.welcomebox button
{
    border: none;
    width: 35%;
    margin-bottom: 20px;
    margin-left: 65px;
    outline: none;
    height: 30px;
    background: white;
    color: black;
    box-shadow:2px 3px 11px #CED5D9;
    border-radius: 6px;
    font-size: 14px;
    font-family: inherit;
}

.welcomebox button:hover
{
    background: #CED5D9;
}

.textbox
{
    width: 650px;
    height: 250px;
    color: linear-gradient(black, #414345);
    top: 25%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
}

h2
{
    margin: 10 10 10px;
    padding: 0 0 0px;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 1.5px 0px rgba(255,255,255,.86);
}

.textbox p
{
    margin: 10 10 10px;
    padding: 0 0 0px;
    text-align: center;
    font-size: 25px;
    text-shadow: 0px 1.5px 0px rgba(255,255,255,.86);
}

h1
{
    margin: 0;
    padding: 0 0 0px;
    text-align: center;
    font-size: 24px;
    color: #FFBF00;
}

h3
{
    margin: 0;
    padding: 0 0 0px;
    text-align: center;
    font-size: 24px;
    color: #FFBF00;
}

.vertical
{
    float: left;
    color: #FFBF00;
    background: #FFBF00;
    width: 2px;
    height: 100%;
}

.SignUpSide
{
    margin-left: 15px;
}
