@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: rgb(242, 194, 2);
    font-size: 17px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(236, 223, 172);
    height: 100vh;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.app {
    position: relative;
    display: flex;
    /* border-radius: 10px; */
    padding: 1em;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

@media screen and (max-width: 640px) {
    video {
        display: none;
    }

    .app {
        margin: 0;
        width: 100vw;
        height: 100vh;
        padding: 0;
        box-shadow: none;
        background-color: rgb(0,0,0);
    }
}